# Supabase — obtener en: Project Settings > API
VITE_SUPABASE_URL=https://uvyxpcisdfrymanhgrbr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV2eXhwY2lzZGZyeW1hbmhncmJyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAwMDgwMzMsImV4cCI6MjA5NTU4NDAzM30.T-6OtITe3iZnegSP8IFfScEuAn669hV6cpftPBlV1tw

# Configuración del parqueadero
VITE_TOTAL_ESPACIOS=30
VITE_PARKING_NAME=El Palo Parking
VITE_PARKING_CIUDAD=Medellín, Colombia
